<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Mis redes sociales</title>
  </head>
  <body
    class="mx-auto border border-black min-h-dvh bg-gradient-to-b from-black via-sky-950 to-sky-950 text-white"
  >
    <main class="container mx-auto px-5 md:px-10 xl:px-5">
      <slot />
    </main>
  </body>
</html>
